$color-primary-0: #5D5C5C;	// Main Primary color */
$color-primary-1: #CECECE;
$color-primary-2: #939393;
$color-primary-3: #292424;
$color-primary-4: #652020;

$color-secondary-1: #333;
$color-secondary-4: #551010;

$color-triary-4: #450000;
$white_txt: #ddd;