<div *ngIf="(networks$ | async).length && (guide$ | async); let guide" class="tv-guide">
    <div class="guide-row guide-header">
        <div class="network">Network</div>
        <div class="guide-row-content guide-timestamps">
            <div class="guide-timestamp" *ngFor="let timestamp of timesteps$ | async">{{timestamp}}</div>
        </div>
    </div>
    <div *ngFor="let network of networks$ | async" class="guide-row">
        <div class="network">{{network}}</div>
        <div class="guide-row-content network-episodes">
            <cg-guide-slot *ngFor="let episode of guide[network]" 
                [name]="episode?.show?.name"
                [runtime]="episode?.runtime"
                [left]="calculateCssLeft((timesteps$ | async)[0], episode?.airtime)" (click)="print(episode)"></cg-guide-slot>
        </div>
    </div>
</div>