@media screen and (max-width: 500px) {

    ul.tabs {
        order: 1;
        //margin-right: 5%;
        //flex-direction: column;
    }
    
    .show-image {
        display: none;
    }

    .show-summary {
        width: 90%;
        order: 2;
    }
}