<h3>{{show?.name}}</h3>
<div class="show-container">

  <ul class="tabs" pvl-tab-group [panel]="showPanel">
    <li pvl-tab [tabId]="'summaryTab'" class="tab">
      Summary
      <ng-template>
        <div class="show-summary">
          {{show?.summary}}
        </div>
      </ng-template>
    </li>
    <li pvl-tab [tabId]="'scheduleTab'" class="tab">
      Schedule
      <ng-template>
        <div class="show-schedule">
          Schedule
        </div>
      </ng-template>
    </li>
    <li pvl-tab [tabId]="'networkTab'" class="tab">
      Network
      <ng-template>
        <div class="show-network">
          Network
        </div>
      </ng-template>
    </li>
  </ul>

  <div class="show-image" *ifMediaQuery="'(min-width: 501px)'">
    <img *ngIf="show?.image?.medium; else noImg; let img" [src]="img" />
    <ng-template #noImg>
      <div class="no-img">
        No Image {{show}}
      </div>
    </ng-template>
  </div>
  
  <ng-template pvl-tab-panel #showPanel="pvlTabPanel"></ng-template>
</div>