<div *ngIf="$show | async; let show" class="show-container">
  <h3>{{show?.name}}</h3>

  <ul class="tabs" pvlTabGroup [tabPanel]="showPanel">

    <li pvlTab [tabId]="'summaryTab'" class="tab">
      Summary
      <ng-template>
        <div class="show-image" *ifMediaQuery="'(min-width: 725px)'">
          <img *ngIf="show?.image?.medium; else noImg; let img" [src]="img" />
          <ng-template #noImg>
            <div class="no-img">
              No Image
            </div>
          </ng-template>
        </div>
        <div *ngIf="show?.summary; else noSummary; let summary" class="show-summary" [innerHtml]="summary">
        </div>
        <ng-template #noSummary>
          <div [style.text-align]="'center'">No summary provided.</div>
        </ng-template>
      </ng-template>
    </li>


    <li pvlTab [tabId]="'scheduleTab'" class="tab">
      Schedule
      <ng-template>
        <div class="show-schedule">
          <cg-handshake>
            <span left>Show Status</span><span right>{{show?.status}}</span>
          </cg-handshake>
          <cg-next-episode *ngIf="$upcomingEpisode | async; let episode" [episode]="episode"></cg-next-episode>
          <cg-schedule *ngIf="show?.schedule?.time" [schedule]="show?.schedule" 
            [timezone]="show?.network?.country?.timezone || show?.webChannel?.country?.timezone"></cg-schedule>
        </div>
      </ng-template>
    </li>


    <li pvlTab [tabId]="'infoTab'" class="tab">
      Info
      <ng-template>
        <cg-misc-info 
          [runtime]="show?.runtime" 
          [genres]="show?.genres" 
          [network]="show?.network || show?.webChannel"
          [isWebchannel]="!!show?.webChannel"></cg-misc-info>
      </ng-template>
    </li>


  </ul>

  <div class="panel-container">
    <ng-template pvlTabPanel #showPanel="pvlTabPanel"></ng-template>
  </div>
</div>