@import '../../../assets/styles/partials/_layout.scss';
@import '../../../assets/styles/partials/_palette.scss';

:host {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    margin: auto;
    width: 80%;
    min-width: $img_width;
}

.result {
    color: $white_txt;
    background-color: $color-secondary-1;
    transition: all 0.3s linear 0.0s;

    height: #{$img_height + 3rem};
    text-align: center;
    flex: 0 0 $img_width;
    margin: .5rem 1rem;

    border-radius: 1rem;
    box-shadow: 1px 1px 5px $color-primary-3;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .no-img {
        height: $img_height;
        width: $img_width;
    }

    &:hover {
        background-color: $color-primary-3;
    }
    
}

@media screen and (max-width: 575px) {
    img, .no-img {
        display: none;
    }

    .result {
        height: 2rem;
        overflow: hidden;
        border-radius: 0;
        flex: 0 0 90%;
    }

    .result-name {
        line-height: 2rem;
    }
}