@media screen and (max-width: 575px) {
    img, .no-img {
        display: none;
    }

    .result {
        height: 2rem;
        overflow: hidden;
        border-radius: 0;
        flex: 0 0 90%;
    }

    .result-name {
        line-height: 2rem;
    }
}