@import '../styles/partials/_palette.scss';

$banner-height: 4rem;
$padding-x: 32px;
$nav-border-sz: 4px;

.banner {
    background-color: $color-secondary-1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
}

.brand {
    color: $white_txt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: $padding-x;
    padding-right: $padding-x;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: $nav-border-sz solid transparent;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;

    flex: 1 0 auto;
    margin-left: #{$banner-height/2rem}rem;

    a {
        text-decoration: none;
        transition: all 0.3s linear 0s;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-left: $padding-x;
        padding-right: $padding-x;

        text-transform: uppercase;
        cursor: pointer;

        border-bottom: $nav-border-sz solid transparent;
        color: $white_txt;

        &:hover,
        &:focus,
        &.active {
            border-bottom: $nav-border-sz solid $color-primary-4;
            background-color: $color-primary-3;
        }
    }
}

footer {
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    padding: 8px;

    a {
        color: inherit;
    }
}

@media screen and (max-width: 575px) {
    .brand {
        display: none;
    }

    nav {
        justify-content: center;
        margin-left: 0;

        a {
            padding-left: $padding-x/2;
            padding-right: $padding-x/2;
            font-size: 14px; 
        }
    }

    footer {
        font-size: .7rem;
    }
}