$height: 48px;
$left-width: 30%;
$right-width: 70%;
$font-sz: 1.2rem;

$color-left: #939393;
$color-right: #CECECE;

$location-transitions: all linear 0.3s;

.runtime, .genres {
    display: flex;
}

.handshake {
    height: $height;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-sz;

    &.left-hand {
        background-color: $color-left;
        position: relative;
        color: black;
        font-weight: bold;
        width: $left-width;

        &:after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            left: 100%;
            top: 0;
            border: $height/2 solid transparent;
            border-left: $height/2 solid $color-left;
        }
    }

    &.right-hand {
        background-color: $color-right;
        padding-left: $height/2;
        color: black;
        overflow: hidden;
        width: $right-width;
    }
}

.location {
    margin-top: 12px;
    display: flex;
    justify-content: center;

    .network {
        position: relative;
        z-index: 1;

        width: 150px;
        height: 150px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: black;
        border-radius: 50%;
        font-size: 1.4rem;
        font-weight: bold;
        transition: $location-transitions;

        
        .flag {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: .4;
            transition: $location-transitions;

            cursor: pointer;

            &:hover {
                opacity: .2;
            }
        }

        &:hover {
            font-size: 1.5rem;
        }
    }
}
