<div class="runtime">
  <div class="handshake left-hand">Runtime</div>
  <div class="handshake right-hand">{{displayRuntime(runtime)}}</div>
</div>
<div class="genres">
  <div class="handshake left-hand">Genres</div>
  <div class="handshake right-hand">{{genres.join(', ')}}</div>
</div>
<div class="location">
  <a [href]="networkUrl(network?.id, network?.name)" [hidden]="!imgLoaded">
    <div class="network">
      <img class="flag" (load)="imgLoaded=true" [src]="flagAsset(network?.country?.code)" [style.background-size]="'contain'" />
      {{network?.name}}
    </div>
  </a>
</div>