<cg-handshake class="runtime">
  <span left>Runtime</span><span right>{{displayRuntime(runtime)}}</span>
</cg-handshake>
<cg-handshake class="genres">
  <span left>Genres</span><span right>{{genres?.join(', ')}}</span>
</cg-handshake>
<cg-handshake>
  <span left>Network</span>
  <span right *ngIf="network; else noNetwork">
    <a [href]="networkUrl(network?.id, network?.name, isWebchannel)">{{network?.name}}</a>
  </span>
  <img *ngIf="network" class="flag" [src]="flagAsset(network?.country?.code)" right />
  <ng-template #noNetwork><span right>No network data found</span></ng-template>
</cg-handshake>
