@import 'partials/palette';
@import 'partials/buttons';

body {
    margin: 0;
    background-color: $color-primary-0;
    color: $white_txt;
}

img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}