@import 'partials/_palette.scss';

body {
    margin: 0;
    background-color: $color-primary-0;
    color: $white_txt;
}

img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 3rem;
    min-height: 3rem;
}